:root {
  --text-color: #1a1c20;
  --link-color: #df692d;
  --link-color-lite: #e7cbbd;
  /* --link-color: #4a76ee; */
  --background-color: #eeeff1;
  --more-hover: #ecc06f;
  --collapse-margin-bottom: 6px;
  --collapse-margin-top: 0px;
  --collapse-content-time: 0.3s;
  --collapse-button-time: 0.3s;
  --collapse-button-pad-anim: 0%;
  --collapse-button-text-indent-anim: 7em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5 {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  height: 80px;
}

nav .left a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}

nav .right a {
  color: var(--text-color);
  margin: 0 10px;
}

nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}

nav .right a span {
  margin-left: 5px;
}

/* SECTION 1: Hero */
.hero-section {
  display: flex;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}

.hero-section .text {
  flex: 5;
}

.hero-section .text p{
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 1em;
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text h3 {
  margin-bottom: 1em;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
}

.hero-section .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-section .headshot img {
  width: 350px;
  border-radius: 50%;
}

/* SECTION 2: Skills */
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.cells .tag_all .cell:hover {
  color: var(--link-color);
  border-color: var(--link-color);
  background-color: var(--link-color-lite);
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}

/* SECTION 3: Projects */
.projects-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.projects-section h2 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
}

.projects-section h3 {
  /* font-size: 35px; */
  margin-bottom: 20px;
  text-align: center;
}

.projects-section h4 {
  /* font-size: 35px; */
  margin-bottom: 10px;
  /* text-align: center; */
}

.projects-section .group {
  display: flex;
  align-items: center;
  gap: 50px;
}

.group {
  margin-bottom: 20px;
}

.projects-section .group .person-details {
  text-align: center;
  flex: 2;
}

.projects-section .group .person-details > img {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.modal-solid-img {
  /* display: block; */
  cursor: pointer;
  max-width: 100%;
}

.logo-alternative1 {
  display: block;
  align-content: center;
  text-align: center;
  width: 200px;
  aspect-ratio: 1/1;
  /* object-fit: scale-down; */
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
  background-color: transparent;
  overflow: hidden;
}

.logo-alternative1 > img {
  /* all: unset; */
  display: block;
  width: 200px;
  /* aspect-ratio: 1/1; */
  object-fit: scale-down;
  border-radius: 0%;
  margin-left: auto;
  margin-right: auto;
}

#logo-chaszcze img {
  width: 160px;
  margin-bottom: 27px;
}

#chaszcze-log-title {
  margin-top: -27px;
}

#logo-bm img {
  margin-bottom: 0px;
  /* width: 180px; */
  padding-left: 0px;
}

#logo-dsp img {
  /* width: 200px; */
  object-fit: cover;
}

#logo-scout img {
  width: 185%;
  margin-left: -57%;
}

#logo-monkey img {
  object-fit: cover;
}

#logo-bike img {
  object-fit: cover;
  height: 100%;
}

.box {
  /* max-width: 100%; */
  width: 100%;
  max-width: 540px;
}

.tag_all {
  /* text-decoration: none; */
  color: var(--text-color);
}

.tags {
  margin-bottom: 5px;
}

.tags > a {
  /* text-decoration: none; */
  color: var(--link-color);
}

.tags > a :hover {
  /* text-decoration: none; */
  color: var(--text-color);
}

.yt_iframe {
  aspect-ratio: 16/9;
}

.yt_title {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  font-style: italic;
}

.img-grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1em;
}

.img-grid > img {
  width: 100%;
  max-width: 500px;

  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* Style the Image Used to Trigger the Modal */
.img-grid img:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.img-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  /* 1540px for big pictures */
}

.modal-content-large {
  margin: auto;
  display: block;
  width: 80%;
  /* max-width: 1540px; */
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#ai-tech .group .person-details img {
  width: 200px;
  aspect-ratio: auto;
  object-fit: cover;
  border-radius: 0%;
  margin-bottom: 10px;
}

.projects-section .group .person-details p {
  font-weight: 600;
}

.projects-section .group .person-details p:last-child {
  font-weight: normal;
}

.projects-section .group .text{
  flex: 8;
}

.projects-section .group .text p{
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 1em;
}

.red_mor, .hid_but, .hid_but2{
  all: unset;
  cursor: pointer;
  display: block;
  text-align: left;
  margin-bottom: var(--collapse-margin-bottom);
  margin-top: var(--collapse-margin-top);
  color: var(--link-color);
  opacity: 1;
  text-indent: 2em;
  padding-left: 0%;
  transition: opacity var(--collapse-button-time) ease-in-out, padding-left var(--collapse-button-time) ease-in-out, text-indent var(--collapse-button-time) ease-in-out;
}

.coll_content {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--collapse-content-time) ease-in-out;
  width: 100%;
}

ul > li {
  display: list-item;
}

ul {
  margin-bottom: 10px;
}

.marg_bot {
  margin-bottom: 10px;
}

.red_mor i, .hid_but i, .hid_but2 i {
  /* padding-left: -2ch; */
  /* margin: -1em; */
  text-indent: 1em;
}

.red_mor:hover, .hid_but:hover, .hid_but2:hover {
  color: var(--text-color);
  /* color: red; */
  /* color: var(--more-hover); */
}

.red_mor_hidden, .hid_but_hidden, .hid_but2_hidden {
  all: unset;
  cursor: default;
  pointer-events: none;
  display: block;
  text-align: left;
  color: var(--link-color);
  opacity: 0;
  text-indent: var(--collapse-button-text-indent-anim);
  padding-left: var(--collapse-button-pad-anim);
  /* height: 0px; */
  /* margin: 0px; */
  margin-bottom: var(--collapse-margin-bottom);
  margin-top: var(--collapse-margin-top);
  transition: opacity var(--collapse-button-time) ease-in-out, padding-left var(--collapse-button-time) ease-in-out, text-indent var(--collapse-button-time) ease-in-out;
}

.red_mor_gone, .hid_but_gone, .hid_but2_gone {
  all: unset;
  cursor: default;
  pointer-events: none;
  display: none;
  text-align: left;
  color: var(--link-color);
  opacity: 0;
  text-indent: var(--collapse-button-text-indent-anim);
  padding-left: var(--collapse-button-pad-anim);
  /* height: 0px; */
  /* margin: 0px; */
  margin-bottom: var(--collapse-margin-bottom);
  margin-top: var(--collapse-margin-top);
}

.projects-section .group .text .links {
  margin-top: 15px;
}

.projects-section .group .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
}

.projects-section .group .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

/* SECTION 4: Contact */
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section h2 {
  font-size: 35px;
}

.contact-section .group {
  display: flex;
  gap: 50px;
}

.contact-section .group .text {
  flex: 3;
  margin-top: 20px;
}

.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
  font-family: 'Poppins', sans-serif;
  border: 2px solid var(--link-color);
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}

.contact-section .group form button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: var(--link-color);
  border: none;
  height: 50px;
  cursor: pointer;
  transition: .1s;
}

.contact-section .group form button:hover {
  filter: brightness(.9);
}

@media screen and (max-width: 1100px) {

  .box {
    max-width: 500px;
  }
}

@media screen and (max-width: 850px) {
  /* SECTION 1: Hero */
  .hero-section .text h2 {
    font-size: 35px;
  }

  .box {
    max-width: 400px;
  }
}

@media screen and (max-width: 740px) {
  /* SECTION 1: Hero */
  .hero-section {
    flex-direction: column-reverse;
  
    .box {
      max-width: 300px;
    }
  }

  .hero-section .headshot img {
    width: 300px;
  }

  /* SECTION 3: Projects */
  .projects-section {
    text-align: center;
  }

  .projects-section .group {
    flex-direction: column;
  }

  /* SECTION 4: Contact */
  .contact-section .group {
    flex-direction: column;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }

  .box {
    max-width: 270px;
  }
}

@media screen and (max-width: 600px) {

  .box {
    max-width: 230px;
  }

  /* NAVBAR */
  nav {
    padding: 0 20px;
  }

  nav .right a {
    font-size: 22px;
  }

  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span {
    display: none;
  }

  /* SECTION 1: Hero */
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text h2 {
    font-size: 30px;
  }

  /* SECTION 2: Skills */
  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-size: 16px;
  }

  /* SECTION 3: Projects */
  .projects-section {
    padding: 0 20px;
  }

  /* SECTION 4: Contact */
  .contact-section {
    padding: 0 20px;
  }
}